@charset "UTF-8";
/* Reinicio */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.header {
  grid-area: header; }
  .header nav div a img {
    animation-name: beat;
    animation-duration: 1.5s;
    animation-iteration-count: 3; }
  .header nav div div ul {
    width: 100%; }
    .header nav div div ul li {
      border: solid 1px rgba(255, 0, 0, 0.543);
      border-radius: 15px;
      padding: 0.2rem;
      width: 15%;
      height: 80%;
      margin: 0.3rem;
      background-color: rgba(0, 0, 0, 0.297);
      list-style: none;
      font-size: small;
      text-align: center;
      text-overflow: ellipsis;
      overflow: hidden;
      vertical-align: middle;
      line-height: normal; }
      .header nav div div ul li:hover {
        background-color: red;
        transform: scale(1.15); }
      .header nav div div ul li a {
        color: white;
        text-decoration: none; }
        .header nav div div ul li a:visited {
          text-decoration: none;
          color: white; }
        .header nav div div ul li a:hover {
          color: white;
          font-weight: bold;
          text-decoration: none; }
    .header nav div div ul .activo {
      background-color: red;
      color: white;
      border: solid 1px black; }

.footer {
  grid-area: footer;
  min-height: 9vh;
  background-image: linear-gradient(to top, black 95%, white);
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  .footer p {
    color: white;
    text-align: center;
    margin-top: .5rem; }
  .footer ul {
    display: flex;
    color: white;
    justify-content: center;
    list-style: none; }
    .footer ul li a {
      font-size: x-large;
      margin: .5rem;
      color: white; }
      .footer ul li a i:hover {
        color: yellow;
        font-weight: bold;
        transform: scale(1.5); }
      .footer ul li a i:visited {
        color: white;
        text-decoration: none; }
  .footer h6 {
    text-align: center;
    background-color: #161616;
    margin-bottom: 0;
    color: white; }

/* Animaciones */
@keyframes beat {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.3); } }

.flexColumn, .mainIndex, .mainIndex section article, .mainFixture, .mainFixture figure div, .mainHistoria, .mainHistoria .historiaIntro, .mainPlantel, .mainSocio form {
  display: flex;
  flex-direction: column; }

/* Estructura Grid */
.divIndex {
  display: grid;
  grid-template-columns: 1fr 6fr 6fr 1fr;
  grid-template-areas: "header header header header" "mainIndex mainIndex mainIndex mainIndex" "mainIndex mainIndex mainIndex mainIndex" "footer footer footer footer";
  max-width: 100%; }

/* Main de Index */
.mainIndex {
  grid-area: mainIndex;
  min-height: 82.6vh;
  background-color: black; }
  .mainIndex h1 {
    color: white;
    font-size: xx-large;
    text-align: center;
    align-self: center;
    margin: 1rem;
    text-decoration: underline;
    max-width: 80%;
    font-weight: bold; }
  .mainIndex p {
    color: white;
    font-size: large;
    text-align: center;
    align-self: center;
    max-width: 80%; }
  .mainIndex section {
    display: flex;
    align-items: center;
    justify-content: space-evenly; }
    .mainIndex section article {
      width: 35%;
      margin: 1rem;
      height: 80%;
      justify-content: center;
      align-items: center; }
      .mainIndex section article h2 {
        color: white;
        font-size: x-large;
        text-align: center; }
      .mainIndex section article iframe {
        height: 225px;
        width: 350px;
        align-self: center;
        margin: 1rem; }
    .mainIndex section p {
      color: white;
      font-size: medium;
      text-align: justify;
      width: 50%;
      margin-top: 1.5rem;
      margin-left: .5rem;
      margin-right: 2.5rem; }
  .mainIndex h3 {
    color: white;
    font-size: xx-large;
    text-align: center;
    justify-self: center;
    margin-top: 1.5rem; }

/* Responsive Design - Mobile Last */
/* Diseño Tablets - Index */
@media (max-width: 768px) {
  .mainIndex section {
    flex-direction: column; }
    .mainIndex section article iframe {
      width: 420px; }
    .mainIndex section p {
      width: 75vw; } }

/* Diseño Celulares - Index */
@media (max-width: 420px) {
  .header {
    flex-direction: column; }
  .mainIndex section article {
    width: 80vw; }
    .mainIndex section article iframe {
      width: 300px; }
  .mainIndex section p {
    width: 80vw; } }

/* Estilo Página 2 - Fixture */
/* Estructura Grid */
.divFixture {
  display: grid;
  grid-template-columns: 1fr 6fr 6fr 1fr;
  grid-template-areas: "header header header header" "mainFixture mainFixture mainFixture mainFixture" "mainFixture mainFixture mainFixture mainFixture" "footer footer footer footer";
  max-width: 100%;
  color: white; }

/* Main de Fixture */
.mainFixture {
  grid-area: mainFixture;
  min-height: 82.6vh;
  background-color: black;
  align-items: center;
  justify-content: space-around; }
  .mainFixture h1 {
    color: white;
    font-size: xx-large;
    text-align: center;
    margin: 1rem;
    font-weight: bold; }
  .mainFixture article {
    display: flex;
    min-height: 70%;
    max-width: 100%;
    align-items: center;
    justify-content: space-evenly; }
    .mainFixture article section {
      width: 30%; }
      .mainFixture article section img {
        opacity: 0.65; }
        .mainFixture article section img:hover {
          transform: scale(1.07);
          opacity: 1; }
  .mainFixture figure {
    display: flex;
    margin-top: 1rem; }
    .mainFixture figure div {
      align-items: center;
      justify-content: center;
      width: 60%; }
      .mainFixture figure div p {
        width: 80%;
        color: white;
        font-size: small;
        text-align: justify; }
    .mainFixture figure nav {
      width: 40%;
      display: flex;
      align-items: center; }
      .mainFixture figure nav iframe {
        width: 90%;
        height: 100%; }
  .mainFixture h4 {
    color: white;
    font-size: x-large;
    text-align: center;
    font-weight: bold;
    margin-bottom: 1rem; }

/* Diseño Tablets - Fixture */
/* Diseño Celulares - Fixture */
@media (max-width: 420px) {
  .mainFixture article {
    flex-direction: column; }
    .mainFixture article section {
      width: 80%; }
      .mainFixture article section img:hover {
        transform: scale(1.05); }
  .mainFixture figure {
    flex-direction: column;
    align-items: center; }
    .mainFixture figure div {
      width: 90%; }
    .mainFixture figure nav {
      width: 90%; }
      .mainFixture figure nav iframe {
        margin: auto; } }

/* Estilo Página 3 - Historia */
/* Estructura Grid */
.divHistoria {
  display: grid;
  grid-template-columns: 1fr 6fr 6fr 1fr;
  grid-template-areas: "header header header header" "mainHistoria mainHistoria mainHistoria mainHistoria" "mainHistoria mainHistoria mainHistoria mainHistoria" "footer footer footer footer";
  max-width: 100%;
  color: white; }

/* Main de Historia */
.mainHistoria {
  grid-area: mainHistoria;
  min-height: 82.6vh;
  background-color: black;
  align-items: center;
  justify-content: space-around; }
  .mainHistoria .historiaIntro {
    width: 100%;
    align-items: center; }
    .mainHistoria .historiaIntro h1 {
      color: white;
      font-size: xx-large;
      text-align: center;
      font-weight: bold;
      margin-top: .5rem; }
    .mainHistoria .historiaIntro h2 {
      color: white;
      font-size: large;
      text-align: center;
      margin-bottom: .5rem;
      max-width: 80%; }
  .mainHistoria .seccionesHistoria {
    display: flex;
    border: double 2px #a1a1a1;
    width: 100%;
    align-items: center;
    justify-content: center; }
    .mainHistoria .seccionesHistoria article {
      width: 75%; }
      .mainHistoria .seccionesHistoria article h3 {
        color: white;
        font-size: x-large;
        text-align: center;
        padding: .5rem; }
      .mainHistoria .seccionesHistoria article p {
        color: white;
        font-size: large;
        text-align: justify;
        padding: .5rem;
        width: 90%;
        margin: 0 auto; }
    .mainHistoria .seccionesHistoria .imagenesHistoria {
      padding: .5rem;
      height: 160px;
      margin: 0 auto; }

/* Diseño Tablets - Historia */
/* Se ajusta bien con el wrap de Flex */
/* Diseño Celulares - Historia */
/* Se ajusta la dirección de flex */
@media (max-width: 420px) {
  .mainHistoria .seccionesHistoria {
    flex-direction: column; } }

/* Estilo Página 4 - Plantel */
/* Estructura Grid */
.divPlantel {
  display: grid;
  grid-template-columns: 1fr 6fr 6fr 1fr;
  grid-template-areas: "header header header header" "mainPlantel mainPlantel mainPlantel mainPlantel" "mainPlantel mainPlantel mainPlantel mainPlantel" "footer footer footer footer";
  max-width: 100%;
  color: white; }

/* Main de Plantel */
.mainPlantel {
  grid-area: mainPlantel;
  min-height: 82.6vh;
  background-color: black;
  align-items: center;
  justify-content: space-around; }
  .mainPlantel div h1 {
    color: white;
    font-size: xx-large;
    text-align: center;
    font-weight: bold; }
  .mainPlantel div div div .carousel-item img {
    transition: .5s ease;
    backface-visibility: hidden; }
  .mainPlantel div div div .carousel-item .contenedorTexto {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    bottom: -10%;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center; }
    .mainPlantel div div div .carousel-item .contenedorTexto .textoOculto {
      background-color: rgba(248, 248, 255, 0.651);
      color: black;
      font-size: 1rem;
      text-align: center;
      padding: 1rem,2rem; }
  .mainPlantel div div div .carousel-item:hover img {
    opacity: 0.5; }
  .mainPlantel div div div .carousel-item:hover .contenedorTexto {
    opacity: 1; }

/* Diseño Tablets - Planteles */
@media (max-width: 768px) {
  .mainPlantel div div div .carousel-item:hover img {
    opacity: 1; } }

/* Diseño Celulares - Planteles, nada que cambiar*/
/* Página 5 - Hazte Socio */
.divHazteSocio {
  display: grid;
  grid-template-columns: 1fr 6fr 6fr 1fr;
  grid-template-areas: "header header header header" "mainSocio mainSocio mainSocio mainSocio" "mainSocio mainSocio mainSocio mainSocio" "footer footer footer footer";
  max-width: 100%;
  color: white; }

/* Main Hazte Socio */
.mainSocio {
  background-color: black;
  min-height: 82.6vh;
  width: 100vw; }
  .mainSocio h1 {
    color: white;
    font-size: xx-large;
    text-align: center;
    text-decoration: underline;
    margin: 1.5rem; }
  .mainSocio form {
    text-align: center;
    height: 600px;
    width: 500px;
    border: dashed 2px white;
    background-image: url("../img/Background.jpg");
    background-size: cover;
    border-radius: 1.5rem;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1rem;
    align-self: center;
    margin-left: auto;
    margin-right: auto; }
    .mainSocio form h4 {
      color: white;
      font-size: x-large;
      text-align: center; }
    .mainSocio form .informacion {
      display: flex; }
      .mainSocio form .informacion input {
        color: grey;
        font-size: medium;
        text-align: center;
        border: solid 1px red;
        margin: 0.5rem; }
        .mainSocio form .informacion input:focus {
          transform: scale(1.1);
          background-color: #db2222; }
    .mainSocio form textarea {
      color: grey;
      font-size: medium;
      text-align: center;
      border: solid 1px red;
      margin: 0.5rem; }
      .mainSocio form textarea:focus {
        transform: scale(1.03);
        background-color: #db2222; }
    .mainSocio form select {
      color: black;
      font-size: medium;
      text-align: center;
      border: solid 1px red;
      margin: 0.5rem; }
      .mainSocio form select:hover {
        cursor: pointer; }
    .mainSocio form .newsletter {
      color: white;
      font-size: medium;
      text-align: center; }
      .mainSocio form .newsletter input:hover {
        cursor: pointer; }
    .mainSocio form .botones {
      display: flex; }
      .mainSocio form .botones .boton {
        padding: 10px;
        border: solid 2px black; }
        .mainSocio form .botones .boton:hover {
          transform: translate(0.1);
          background-color: #db2222;
          cursor: pointer;
          font-weight: bolder; }
    .mainSocio form .sexo {
      color: white;
      font-size: medium;
      text-align: center; }
      .mainSocio form .sexo span {
        padding-right: 1rem; }
      .mainSocio form .sexo input:hover {
        cursor: pointer; }

/* Diseño Tablets - Hazte Socio */
@media (max-width: 768px) {
  .mainSocio form {
    width: 400px; }
    .mainSocio form .informacion {
      flex-direction: column; }
      .mainSocio form .informacion input {
        padding: .3rem; }
    .mainSocio form textarea {
      width: 80%; } }

/* Diseño Celulares - Hazte Socio */
@media (max-width: 420px) {
  .mainSocio form {
    width: 350px; }
    .mainSocio form .informacion input {
      padding: .1rem; } }
