/* Reinicio */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@import './secciones/header';
@import './secciones/footer';
@import './secciones/animaciones';
@import './secciones/funciones';

@import './paginas/index';
@import './paginas/estadio';
@import './paginas/historia';
@import './paginas/planteles';
@import './paginas/haztesocio';