/* Estilo Página 2 - Fixture */

/* Estructura Grid */
.divFixture {
    display: grid;
    grid-template-columns: 1fr 6fr 6fr 1fr;
    grid-template-areas:
        "header header header header"
        "mainFixture mainFixture mainFixture mainFixture"
        "mainFixture mainFixture mainFixture mainFixture"
        "footer footer footer footer";
    max-width: 100%;
    color: white
}

/* Main de Fixture */
.mainFixture {
    grid-area: mainFixture;
    min-height: 82.6vh;
    background-color: black;
    @extend .flexColumn;
    align-items: center;
    justify-content: space-around;

    article {
        display: flex;
        min-height: 70%;
        max-width: 100%;
        align-items: center;

        .tablas {
            @extend .flexColumn;
            align-items: center;
            justify-content: space-around;
            max-width: 100%;
            flex-wrap: wrap;

            .tituloTabla {
                max-width: 70%;
                text-align: center;
                justify-self: center;
                padding: 1rem;
            }

            .tablaInterior {
                text-align: center;
                border: solid 2px rgb(61, 57, 57);
                width: 300px;
                justify-self: center;
                border-collapse: collapse;
                overflow: scroll;

                tr {
                    th {
                        @include texto(white, 12px, center);
                        background-color: black;
                        padding: 10px;
                        border: solid 1px white;
                        a {
                            &:hover {
                                text-decoration: none;
                                color: white;
                            }

                            &:visited {
                                text-decoration: none;
                                color: white;
                            }

                            &:link {
                                text-decoration: none;
                                color: white;
                            }
                        }
                    }

                    td {
                        @include texto(white, x-small, center);
                        border: solid 1px white;
                    }

                    .tablaFecha {
                        background-color: gray;
                        @include texto(white, x-small, center);
                        padding: 10px;
                    }

                    .tablaPartidos {
                        background-color: lightgray;
                        @include texto(black, x-small, center);
                        font-weight: bold;
                    }
                }
            }
        }
    }

    h3 {
        @include texto(white, x-large, center);
        font-weight: bold;
        padding: 1rem;
    }
}


/* Diseño Tablets - Fixture */
@media (max-width: 768px) {
    .mainFixture {
        article {
            flex-direction: column;

            .tablas {
                .tablaInterior {
                    tr {
                        th {
                            font-size: x-small;
                        }
                        td {
                            font-size: x-small;
                        }
                    }
                }
            }
        }
    }
}   
 
/* Diseño Celulares - Fixture */
@media (max-width: 420px) {
    .header {
        flex-direction: column;
    }

}