 /* Estructura Grid */
 .divIndex{  
    display: grid;
    grid-template-columns: 1fr 6fr 6fr 1fr;
    grid-template-areas:
      "header header header header"
      "mainIndex mainIndex mainIndex mainIndex"
      "mainIndex mainIndex mainIndex mainIndex"
      "footer footer footer footer";
    max-width: 100%;
  }

/* Main de Index */
.mainIndex{
    grid-area: mainIndex;
    min-height: 82.6vh;
    background-color: black;
    @extend .flexColumn;

    h1{
        @include texto(white, xx-large, center);
        align-self: center;
        margin: 1rem;
        text-decoration: underline;
        max-width: 80%;
    }
    
    p{
        @include texto(white, large, center);
        align-self: center;
        max-width: 80vw;
    }

    section{
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        article{
            @extend .flexColumn;
            width: 35%;
            margin: 1rem;
            height: 80%;
            justify-content: center;
            align-items: center;

            h2{
                @include texto(white, x-large, center);
            }

            iframe{
                height: 225px;
                width: 350px;
                align-self: center;
                margin: 1rem;
            }
        }

        p{
            @include texto(white, medium, justify);
            width: 60%;
            margin-top: 1.5rem;
            margin-left: .5rem;
            margin-right: 1.5rem;
        }
    }
    h3{
        @include texto(white, x-large, center);
        justify-self: center;
        margin-top: 1.5rem;
    }

}

/* Responsive Design - Mobile Last */

/* Diseño Tablets - Index */
@media (max-width: 768px){
    .mainIndex{
        section{
            flex-direction: column;

            article{
                iframe{
                    width: 420px;
                }
            }

            p{
                width: 75vw;
            }
        }
    } 
}

/* Diseño Celulares - Index */
@media (max-width: 420px){
    .header{
        flex-direction: column;
    }

    .mainIndex{
        section{
            article{
                width: 80vw;
                iframe{
                    width: 300px;
                }
            }
            p{
                width: 80vw;
            }
        }
    }
}